<launch >
    <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch">
    </include> 
    <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch">
    </include> 

    <node pkg="vision" type="main_control" name="visual_control_node" output="screen">
    </node>
</launch>